<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.administrator.caringforyouandme">

	<!-- 와이파이 연결 확인 -->
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<!-- 음성인식에 필요함 -->
	<uses-permission android:name="android.permission.RECORD_AUDIO"/>

	<!-- To auto-complete the email text field in the login form with the user's emails -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.GET_ACCOUNTS"/>
	<uses-permission android:name="android.permission.READ_PROFILE"/>
	<uses-permission android:name="android.permission.READ_CONTACTS"/>

	<application android:allowBackup="true" android:icon="@drawable/launcher" android:label="@string/app_name" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/AppTheme.NoActionbar">
		<activity android:name=".LoginActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<!-- 회원가입 -->
		<activity android:name=".RegisterActivity"/>
		<!-- 메인 -->
		<activity android:name=".activity.MainActivity"/>
		<!-- 메인 하위 8개 메뉴 -->
		<activity android:name=".KnownActivity" android:label="@string/title_activity_known" android:theme="@style/AppTheme.NoActionbar"/>
		<activity android:name=".PreventionActivity" android:label="@string/title_activity_prevention" android:theme="@style/AppTheme.NoActionbar"/>
		<activity android:name=".RoadmapActivity" android:label="@string/title_activity_roadmap" android:theme="@style/AppTheme.NoActionbar"/>
		<activity android:name=".SupportMenuActivity" android:label="@string/title_activity_support" android:theme="@style/AppTheme.NoActionbar"></activity>
		<activity android:name=".SupportFirActivity" android:label="@string/title_activity_supportmain1" android:theme="@style/AppTheme.NoActionbar"></activity>
		<activity android:name=".SupportSecActivity" android:label="@string/title_activity_supportmain2" android:theme="@style/AppTheme.NoActionbar"></activity>
		<activity android:name=".SupportThiActivity" android:label="@string/title_activity_supportmain3" android:theme="@style/AppTheme.NoActionbar"></activity>
		<activity android:name=".SupportForActivity" android:label="@string/title_activity_supportmain4" android:theme="@style/AppTheme.NoActionbar"></activity>
		<activity android:name=".CureprogramActivity" android:label="@string/title_activity_cureprogram" android:theme="@style/AppTheme.NoActionbar"></activity>
		<activity android:name=".DiaryActivity" android:label="@string/title_activity_diary" android:theme="@style/AppTheme.NoActionbar"></activity>
		<activity android:name=".DiaryMenuActivity" android:label="@string/title_activity_diary" android:theme="@style/AppTheme.NoActionbar"></activity>
		<activity android:name=".DiaryFirActivity" android:label="@string/title_activity_diary" android:theme="@style/AppTheme.NoActionbar"></activity>
		<activity android:name=".DictionaryActivity" android:label="@string/title_activity_dictionary" android:theme="@style/AppTheme.NoActionbar"></activity>
		<activity android:name=".FeelingActivity" android:label="@string/title_activity_feeling" android:theme="@style/AppTheme.NoActionbar"></activity>
		<!-- 번외 1.유튜브 동영상 보기(각 페이지 동영상) -->
		<activity android:name=".YoutubePlayerActivity"></activity>
		<!-- 번외 2.이미지 확대(각 페이지 이미지) -->
		<activity android:name=".PhotoViewActivity"></activity>

		<!-- 번외 3.알람설정(메인) -->
		<activity android:name=".AlarmActivity"></activity>
		<activity android:name=".activity.alarm.AlarmSetActivity"></activity>
        <activity android:name=".activity.DialogActivity" android:theme="@style/PopupDialogStyle"  android:screenOrientation="portrait"></activity>
		<service android:name=".service.AlarmService" android:enabled="true" android:exported="true"></service>

	</application>

</manifest>